.body {
	padding:70px;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}
.linked-row{
	background:#daad86;
	height:100%;
}

.map-row{
	background:#659dbd;
	height:100%;
}
.line-row{
	background:#eee2dc;
	height:100%;
}

body, html {
    height: 100%;
	font-family:'Oswald', sans-serif;
}

/* The hero image */
.hero-image {
    /* The image used */
    /*background-image: url("images/students.jpg");
	background:#ebeff7;
	*/
	background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(10, 10, 128, 0.45),
      rgba(128, 128, 128, 0.45)
    ),
    /* bottom, image */
    url(images/students.jpg);
    /* Set a specific height */
    height: 100%;
	width: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#hero-title {
	font-size:100px;
}

#hero-sub {
	font-size:55px;
}
.chart-wrapper {
    max-width: 950px;
    min-width: 304px;
    margin: 0 auto;
    background-color: #FAF7F7;
}

.chart-wrapper .inner-wrapper {
    position: relative;
    padding-bottom: 50%;
    width: 100%;
}

.chart-wrapper .outer-box {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

.chart-wrapper .inner-box {
    width: 100%;
    height: 100%;
}

.chart-wrapper text {
  font-family: sans-serif;
  font-size: 11px;
}

.chart-wrapper p {
    font-size: 16px;
    margin-top:5px;
    margin-bottom: 40px;
}

.chart-wrapper .axis path,
.chart-wrapper .axis line {
    fill: none;
    stroke: #1F1F2E;
    stroke-opacity: 0.5;
    shape-rendering: crispEdges;

}
.chart-wrapper .axis path {
  stroke-width: 2px;
}

.chart-wrapper .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 5px;
}

.chart-wrapper .legend  {
    min-width: 200px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 16px;
    padding: 10px 40px;
}
.chart-wrapper .legend > div {
    margin: 0px 25px 10px 0px;
    flex-grow: 0;
}
.chart-wrapper .legend p {
    display:inline;
    font-size: 0.8em;
    font-family: sans-serif;
    font-weight: 600;
}
.chart-wrapper .legend .series-marker {
    height: 1em;
    width: 1em;
    border-radius: 35%;
    background-color: crimson;
    display: inline-block;
    margin-right: 4px;
    margin-bottom: -0.16rem;
}

.chart-wrapper .overlay {
  fill: none;
  pointer-events: all;
}

.chart-wrapper .focus circle {
  fill: crimson;
  stroke: crimson;
  stroke-width: 2px;
  fill-opacity: 15%;
}
.chart-wrapper .focus rect {
    fill: lightblue;
    opacity: 0.4;
    border-radius: 2px;
}
.chart-wrapper .focus.line {
    stroke: steelblue;
    stroke-dasharray: 2,5;
    stroke-width: 2;
    opacity: 0.5;
}
@media (max-width:500px){
    .chart-wrapper .line {stroke-width: 3px;}
    .chart-wrapper .legend {font-size: 14px;}
}

.top{
	text-align: center;
	/* color: #ffffff; */
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.node {
	stroke: #fff;
	stroke-width: 1.5px;
}
.link {
	stroke: #999;
	stroke-opacity: .6;
}

h3 {
	color: #1ABC9C;
	text-align:left;
	font-style: italic;
	font-size: 14px;
	font-family: "Helvetica";
}

d3-tip {
	line-height: 1;
	color: black;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

d3-tip2 {
	line-height: 1;
	color: black;
	background-color: white;
}

h3 {
	margin-top: 15px;
}
.typeName {
text-align: center;
}

.key-dot {
	display: inline-block;
	height: 10px;
	margin-right: .5em;
	width: 10px;
}

.legend {
	margin-right:20px;
}

.type1 { background: rgb(174, 199, 232);}
.type2 { background: rgb(255, 127, 14);}
.type3 { background: rgb(255, 187, 120);}
.type4 { background: rgb(44, 160, 44);}
.type5 { background: rgb(152, 223, 138);}
.type6 { background: rgb(214, 39, 40);}
.type7 { background: rgb(255, 152, 150);}
.type8 { background: rgb(148, 103, 189);}

/*HTML Horizonal Legend*/
.typeName {
	margin: 0 !important;
}

.key-dot {
	height: 10px;
	margin-right: .5em;
	width: 10px;
}

.box {
	background-color: lightgrey;
	width: 300px;
	/* border: 25px solid green; */
	padding: 0px 25px;
	/* margin: 25px; */
	overflow:auto;
}
