.body {
	padding:70px;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}
.linked-row{
	background:#daad86;
	height:50%;
}

.map-row{
	background:#659dbd;
	height:50%;
}

body, html {
    height: 100%;
	font-family:'Oswald', sans-serif;
}

/* The hero image */
.hero-image {
    /* The image used */
    /*background-image: url("images/students.jpg");
	background:#ebeff7;
	*/
	background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(10, 10, 128, 0.45),
      rgba(128, 128, 128, 0.45)
    ),
    /* bottom, image */
    url(images/students.jpg);
    /* Set a specific height */
    height: 100%;
	width: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#hero-title {
	font-size:100px;
}

#hero-sub {
	font-size:55px;
}
